<div id="<%= dom_id gizmo %>">
  <p>
    <strong>Type:</strong>
    <%= gizmo.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= gizmo.name %>
  </p>

  <p>
    <strong>Text1:</strong>
    <%= gizmo.text1 %>
  </p>

  <p>
    <strong>Text2:</strong>
    <%= gizmo.text2 %>
  </p>

  <p>
    <strong>Gizmo:</strong>
    <%= gizmo.gizmo_id_id %>
  </p>

  <p>
    <strong>Bool1:</strong>
    <%= gizmo.bool1 %>
  </p>

  <p>
    <strong>Int1:</strong>
    <%= gizmo.int1 %>
  </p>

</div>
